<div class="tdl-landing__wrapper">
  <div class="tdl-landing__get-started">
    <h1 class="tdl-landing__heading lb-font-heading-1">Organize it all with Todolist</h1>
    <div class="tdl-landing__btn-wrapper">
      <button class="tdl-landing__btn" routerLink="/login">Get Started</button>
    </div>
  </div>
  <div class="tdl-landing__picture-wrapper">
    <img class="tdl-landing__picture" src="https://todoist.com/_next/static/images/header@2x_b52d8f7c7bf19d6c702569d1072ed6a2.webp" alt="Picure">
  </div>
</div>
