@import 'src/styles';

.signup-form__wrapper {
  align-items: center;
  background-color: $tdl-neutral-300;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;

  @media all and (min-width: $bps) {
    padding: 0 50px;
  }
}

.signup-form__first-tier {
  background-color: $tdl-white;
  border: 1px solid $tdl-neutral-500;
  border-radius: 10px;
  padding: 40px;
}

.signup-form__logo-wrapper {
  align-items: center;
  color: $tdl-orange;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.signup-form__logo {
  width: 40px;
}

.signup-form__copy {
  padding-bottom: 25px;
}