.mat-focused .mat-form-field-label {
  color: $tdl-orange !important;
}

.mat-form-field-underline {
  background-color: $tdl-red !important;
}

.mat-form-field-outline-thick {
  color: $tdl-orange !important;
}
