// declare color
$tdl-white: #fff;
$tdl-orange: #f0890c;
$tdl-orange-700: #ff6f47;
$tdl-red: #e44232;
$tdl-black: #1f1f1f;
$tdl-neutral-300: #fafafa;
$tdl-neutral-500: #dbdbdb;

//declare max width of this app
$tdl-max-width: 1440px;

// declare breakpoint
$bps: 600px;
$bpm: 1200px;

// padding content
$padding-app-mobile: 70px 20px 20px 20px;
$padding-app-desktop: 70px 50px;

// font weight
$tdl-font-normal: 300;
$tdl-font-medium: 500;
$tdl-font-bold: 700;
