@import 'src/styles';

.form__wrapper {
  align-items: center;
  background-color: $tdl-neutral-300;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;

  @media all and (min-width: $bps) {
    padding: 0 50px;
  }
}


.form__first-tier {
  background-color: $tdl-white;
  max-width: 400px;
  padding: 40px;
  width: 90%;

  @include border(light, $tdl-neutral-500);
  @include border-radius(8px);
}

.form__third-tier {
  display: flex;
  flex-direction: column;
}

.form__logo-wrapper {
  align-items: center;
  color: $tdl-orange;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.form__logo {
  width: 40px;
}

.form__copy {
  font-size: 25px;
  padding-bottom: 25px;
  text-transform: capitalize;
}

.form__input {
  width: 100%;
}

.form__btn {
  border: none;
  font-size: 20px;
  height: 60px;
  text-transform: capitalize;

  @include border-radius(6px);
}

.form__btn-invalid {
  background-color: $tdl-neutral-500;
  cursor: not-allowed;
  pointer-events: all !important;
}

.form__btn-valid {
  background-color: $tdl-red;
  color: $tdl-white;
  cursor: pointer;
  transition: all .3s ease 0s;

  &:hover {
    @include hover-darken(button, $tdl-red);
  }
}

.form__to-login {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.form__login-link {
  color: $tdl-red;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease 0s;

  &:hover {
    @include hover-darken(link, $tdl-red);
  }
}
