<div class="form__wrapper">
  <div class="form__first-tier">
    <div class="form__logo-wrapper">
      <img class="form__logo" src="https://www.freelogoservices.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6kifGFpRdHmR7IwXs1M3EMoAJtliArhPVt8fgy" alt="Todolist">
      <h4>Todolist</h4>
    </div>
    <div class="form__second-tier">
      <h4 class="form__copy">{{ page }}</h4>
      <form class="form__third-tier">
        <div class="form__email">
          <mat-form-field class="form__input" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form__input" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password">
          </mat-form-field>
        </div>
        <button
          mat-button-raised
          type="submit"
          class="form__btn">{{ page }}</button>
      </form>
      <div class="form__to-login">
        <p *ngIf="page === 'signup'; else login">Already signed up? <a [routerLink]="['/login']" class="form__login-link">Go to login</a></p>
        <ng-template #login>
          <p>Haven't signed up? <a [routerLink]="['/signup']" class="form__login-link">Go to signup</a></p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
